body {
    margin: 5;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('image/pexels-johannes-plenio-1103970.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
nav {
    display: flex;
  }
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  } 
div {
    padding: 5px; 
    
 } 
h1 {
    color: rgb(236, 231, 224);
    justify-content: center;
    text-align: center;
    padding: 5px; 
    margin: 5;
    font-size: 30px;
    
 }  
h2 {
    color: white;
}
p {
    color: white;
    font-size: 15px;
}
ul {
    color: white;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}